<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pergunta Detalhes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3><%= pergunta.titulo %></h3>
            </div>
            <div class="card-body">
                <p><%= pergunta.descricao %></p>
            </div>
            <hr>
            <div class="card-body">
                <button class="btn-primary">Responder</button>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <%- include('partials/footer.ejs') %>
</body>
</html>
